.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80%;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title {
  text-align: center;
}

.action {
  font-size: 1.2rem;
  text-align: center;
  background-color: black;
  color: white;
  outline: none;
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.grid {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.card {
  flex: 1;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  line-height: 1.5;
}

.card p {
  margin: 0;
  line-height: 1.5;
}

.card ul {
  list-style-type: none;
}

.card .topList {
  padding: 0;
}

.card .error {
  color: rgb(145, 24, 24);
}
.card .code {
  color: gray;
}

.card li {
  margin: 0.5rem 0;
}

.label::before {
  content: "Label";
  font-size: small;
  background-color: #b8dfee;
  color: white;
  margin-right: 0.5rem;
  border-radius: 1rem;
  padding-inline: 0.5rem;
}

.band::before {
  content: "Band";
  font-size: small;
  background-color: #6ca7e0;
  color: white;
  margin-right: 0.5rem;
  border-radius: 1rem;
  padding-inline: 0.5rem;
}

.festival::before {
  content: "Festival";
  font-size: small;
  background-color: #0070f3;
  color: white;
  margin-right: 0.5rem;
  border-radius: 1rem;
  padding-inline: 0.5rem;
}
